@using VendorOrderTracker.Models;

@{
  Layout = "_Layout";
}

<div class="card">
  <div class="card-title">
    <h1>@Model["vendor"].Name</h1>
  </div>
  <div class="card-body">
    <p>@Model["vendor"].Description</p>

    <p>Address: @Model["vendor"].Address</p>
  </div>
  <div class="card">
    <div class="card-title">
      <h4>Orders:</h4>
    </div>
    <div class="card-body">
      <ul>
        @if (Model["orders"].Count == 0)
        {
          <p>There are no Orders at this time</p>
        }
        else
        {
          @foreach (Order order in Model["orders"])
          {
            <li><a href="/vendors/@Model["vendor"].Id/orders/@order.Id">@order.Title</a></li>
          }
        }
        <p class="btn btn-success"><a href="/vendors/@Model["vendor"].Id/orders/new">Add new Order</a></p>
        <form action="/vendors/@Model["vendor"].Id/orders/delete" method="post">
          <input id="vendorId" name="vendorId" type="hidden" value="@Model["vendor"].Id">
          <button class="btn btn-danger" type="submit">Delete all @Model["vendor"].Name Orders</button>
        </form>
        <form action="/vendors/@Model["vendor"].Id/edit" method="get">
          <input id="vendorId" name="vendorId" type="hidden" value="@Model["vendor"].Id">
          <button class="btn btn-info" type="submit">Edit Vendor</button>
        </form>
      </ul>
    </div>
  </div>
</div>