@{
  Layout = "_Layout";
}

<h1>@Model["vendor"].Name</h1>
<h3>@Model["order"].Title</h3>

<p>@Model["order"].Description</p>

<p>Price: $ @Model["order"].Price</p>
<p>Date Ordered: @Model["order"].Date</p>

<p><a href="/vendors/@Model.Id">Back to Vendor</a></p>
<p><a href="/vendors/@Model.Id/orders">Back to Vendors Orders</a></p>